<h1>Update customer</h1>

<%= form_for(:customer, url: customer_path(@customer.id), method: :put) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
    <%= link_to 'Back', customers_path, class: "btn btn-lnk" %>
  </div>
<% end %>
