<h1>Nuevo cliente</h1>

<%= form_for(:customer, url: customers_path) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>

  <div class="actions">
    <%= f.submit "Crear", class: "btn btn-primary" %>
    <%= link_to 'Volver', customers_path, class: "btn btn-lnk" %>
  </div>
<% end %>
